{% if page.url == "/" or page.url == "/research/" or page.url == "/news/20250206-tech-and-fest/" %}
  <div class="supported-by">
    <h1 class="supported-by-title">Supported by</h1>
    {%- assign affiliations = site.data.affiliations.affiliations | where: "is_supporter", true -%}
    {%- assign logos_dir = site.data.general.images_dirs.logos -%}
    {%- for school in affiliations -%}
        {%- if school.logo contains '://' -%}
            {%- assign img_src = school.logo -%}
        {%- else -%}
            {%- assign img_src = '/' | append: site.baseurl | append: logos_dir | append: school.logo -%}
        {%- endif -%}
        <a style="text-decoration: none;" href="{{ school.link }}" title="">
            <img
            class="supported-by-logo"
            alt="{{ school.name }}"
            data-alt="{{ school.name }}"
            data-title="{{ school.name }}"
            src="{{- img_src -}}"
            style="height: {{ school.logo_realtive_height | times: 60 }}px;"
            title="{{ school.name }}"
            >
        </a>
    {%- endfor -%}
  </div>
{% endif %}
{% if page.url == "/teaching/" %}
  <div class="supported-by">
    <h1 class="supported-by-title">Used by</h1>
    {%- assign schools = site.data.affiliations.affiliations | where: "is_used_by_teaching", true -%}
    {%- assign logos_dir = site.data.general.images_dirs.logos -%}
    {%- for school in schools -%}
        {%- if school.logo contains '://' -%}
            {%- assign img_src = school.logo -%}
        {%- else -%}
          {%- assign img_src = '/' | append: site.baseurl | append: logos_dir | append: school.logo -%}
        {%- endif -%}
        <a style="text-decoration: none;" href="{{ school.link }}" title="">
            <img
            class="supported-by-logo"
            alt="{{ school.name }}"
            data-alt="{{ school.name }}"
            data-title="{{ school.name }}"
            src="{{ img_src }}"
            style="height: {{ school.logo_realtive_height | times: 60 }}px;"
            title="{{ school.name }}"
            >
        </a>
    {%- endfor -%}
  </div>
  <div class="supported-by">
    <h1 class="supported-by-title">Supported by</h1>
    {%- assign schools = site.data.affiliations.affiliations | where: "is_supporter_teaching", true -%}
    {%- assign logos_dir = site.data.general.images_dirs.logos -%}
    {%- for school in schools -%}
      {%- if school.logo contains '://' -%}
        {%- assign img_src = school.logo -%}
      {%- else -%}
        {%- assign img_src = '/' | append: site.baseurl | append: logos_dir | append: school.logo -%}
      {%- endif -%}
      <a style="text-decoration: none;" href="{{ school.link }}" title="">
          <img
          class="supported-by-logo"
          alt="{{ school.name }}"
          data-alt="{{ school.name }}"
          data-title="{{ school.name }}"
          src="{{ img_src }}"
          style="height: {{ school.logo_realtive_height | times: 80 }}px;"
          title="{{ school.name }}"
          >
      </a>
    {%- endfor -%}
  </div>
{% endif %}
<footer class="footer-container">
  {%- assign general = site.data.general -%}
  <div class="footer-content">
    <div class="footer-subcontent">
      <!-- Logo Section -->
      {% assign proj_name = general.name.long | append: " " | append: general.name.append %}
      {%- assign logos_dir = site.data.general.images_dirs.logos -%}
      {%- assign logo_fn = site.data.general.logo_footer_filename | default: "default.jpg" -%}
      <div class="footer-block-common">
        <a class=""  rel="author" href="{{ "/" | relative_url }}" title="">
          <img
          class="footer-logo"
          alt="{{ proj_name }}"
          data-alt="{{ proj_name }}"
          data-title="{{ proj_name }}"
          src="{{- site.baseurl -}}/{{- logos_dir -}}/{{- logo_fn -}}"
          title="{{ proj_name }}"
          />
        </a>
      </div>
      <!-- Text Information -->
      <div class="footer-text-content footer-block-common">
        <!-- Contact Information -->
        <div class="footer-block-common">
          <h3>Access</h3>
          <p>
            {{ general.address.building }}<br>
            {{ general.address.street }}<br>
            {{ general.address.city }}<br>
            {{ general.address.country }}.
            (<a href="{{ general.address.maps_link }}">Maps</a>)
          </p>
        </div>
        <!-- Contact Information -->
        <div class="footer-block-common">
          <h3>Contact</h3>
          <p>
            <b>Email:</b> <a href="mailto:{{- general.contact.email -}}" class="footer-link">{{ general.contact.email }}</a>
          </p>
          <p>
            <b>Phone:</b> {{ general.contact.phone }}
          </p>
        </div>
        <!-- Social Media Links -->
        <div class="footer-block-common">
          <h3>Follow Us</h3>
          <p>
            {% for link in general.social %}
              <p>
                <i style="font-style:normal" class="{{ link[1].icon }}"></i>
                <a href="{{- link[1].link -}}" target="_blank" class="footer-link">{{ link[0] }}</a>
              </p>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright Section -->
  <div class="footer-copyrights">
    <span>
      &copy; 2025 {{ general.footer_title }}.
      Generated from <a href="https://github.com/mhmdjouni/minimal-teams" class="footer-link">Minimal Teams</a>.
      Powered by <a href="https://jekyllrb.com/" class="footer-link">Jekyll</a>.
    </span>
  </div>
</footer>
