---
layout: banner_top
title: Teaching
permalink: /teaching/
---

<h2 style="font-size: 1rem;">
    The equipment of MIRA is used in teaching programs at ENSE3 and Phelma of GrenobleINP-UGA, in the framework of academic courses and student projects.
</h2>

<br><br>

<h1 class="publication-section-title" style="font-size: 1.8rem;">
    Courses
</h1>
<ul>
    <li style="font-size: 1.3rem;">
        <b>Image Analysis Project</b>
        <div style="font-size: 1.2rem; color: #414141;"><b><i>SICOM</i></b>, managed by <b><i>Grenoble INP - Ense3</i></b></div>
        <div>
            <a
            class="publication-link"
            style="font-size: 1rem;"
            href="https://gricad-gitlab.univ-grenoble-alpes.fr/mullemat/sicom_image_analysis_project"
            >
                <i style="font-style:normal" class="fab fa-fw fa-github"></i>
                Course Materials
            </a>
        </div>
    </li>
</ul>

<br><br>

<h1 class="publication-section-title" style="font-size: 1.8rem;">
    Student Projects
</h1>
{% assign projects_grouped = site.data.teaching.projects | where: "parent_project", "MIRA" | sort: "year" | reverse | group_by: "year"%}
<div>
{% for pubs_year in projects_grouped %}
    {% assign year = pubs_year.name %}
    {% assign pubs = pubs_year.items %}
    <div class="publication-year-container">
        <div class="year-header" style="font-size: 1.4rem;">
            {{ year }}
        </div>
        <ul>
        {% for pub in pubs %}
            <li class="publication-item" style="font-size: 1.3rem;">
                <div class="publication-title" style="font-size: 1.3rem;">
                    {{ pub.title }}
                </div>
                <a class="publication-venue" style="font-size: 1.2rem;">
                    <b><i>{{ pub.type }}</i></b>,
                    managed by <b><i>{{ pub.affiliation }}</i></b>
                </a>
                <ul>
                <li class="publication-authors" style="font-size: 1.1rem;">
                    Students:
                    {% for author in pub.students %}
                        {% if forloop.last and forloop.first == false %}
                            and {{ author }}
                        {% elsif forloop.last %}
                            {{ author }}
                        {% else %}
                            {{ author }},
                        {% endif %}
                    {% endfor %}
                </li>
                <li class="publication-authors" style="font-size: 1.1rem;">
                    Supervisors:
                    {% for author in pub.supervisors %}
                        {% if forloop.last and forloop.first == false %}
                            and {{ author }}
                        {% elsif forloop.last %}
                            {{ author }}
                        {% else %}
                            {{ author }},
                        {% endif %}
                    {% endfor %}
                </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
