---
layout: banner_top
---

<div class="home-content">
    <div class="home-main-content">
        {{- content -}}
    </div>
    <div class="home-news-sidebar">
        <div class="sidebar-news-block">
            <h1>News</h1>
            {%- assign news = site.data.news.list | slice: 0, 5 -%}
            {% if news == empty or news == nil %}
                <p>No news yet under this project.</p>
            {% else %}
                {%- for item in news -%}
                <div class="sidebar-news-item">
                    <div class="sidebar-news-date">{{- item.date -}}</div>
                    
                    [
                    {%- if item.link contains '://' -%}
                        <a href="{{ item.link }}" class="link">
                    {%- else -%}
                        <a href="{{ site.baseurl }}{{ item.link }}" class="link">
                    {%- endif -%}
                    Link</a>]

                    <span>{{ item.text }}</span>
                </div>
                {%- endfor -%}
                <div class="sidebar-news-item">
                    For older news, please visit the <a href="{{- site.baseurl -}}/news/" class="link">News</a> page.
                </div>
            {% endif %}
        </div>
    </div>
</div>
